# Compiled Object files
*.slo
*.lo
*.o
*.out

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#gedit temporary files
*.*~
*~

#sample torrent files
*.torrent

#eclipse files
.cproject
.settings/
.project
.directory
core.*
